$orange: #faa61a;

$dark-orange: #e07400;
$blue: #007bba;
$purple: #883c9b;
$green: #15847f;

$dark-grey: #353535;
$darker-grey: #2e2e2e;

$white: #fff;
$black: #000;


.bg-orange { background-color:$dark-orange; }
.bg-blue { background-color:$blue; }
.bg-purple { background-color:$purple; }
.bg-green { background-color:$green; }
.bg-dark-grey { background-color:$dark-grey; }
.bg-darker-grey { background-color:$darker-grey; }
.bg-white { background-color:$white; }
.bg-black { background-color:$black; }