.icon-arrow-red { background-image: url('png/arrow-red.png'); background-repeat: no-repeat; }

.icon-arrow-right-orange { background-image: url('png/arrow-right-orange.png'); background-repeat: no-repeat; }

.icon-arrow-right-white { background-image: url('png/arrow-right-white.png'); background-repeat: no-repeat; }

.icon-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

