<header>
    <button class="btn btn--menu btn--hamburger toggle-panel" data-panel="menu">
				<!-- <svg role="img" class="icon icon--menu"><use xlink:href="#icn-menu"></use></svg> -->
                <span class="patty"></span>
                <span class="label">Menu</span>
	</button>

    <a href="#" class="logo">
        <svg role="img"><title>Sunsuper</title><use xlink:href="#logo"></use></svg>
    </a>

    <div class="buttons">
        <button class="btn btn--login toggle-panel" data-panel="login">
					<svg role="img" class="icon icon--login"><use xlink:href="#icn-key"></use></svg>
					<span class="label">Login</span>
		</button>

        <button class="btn btn--profile toggle-panel" data-panel="profile">
					<svg role="img" class="icon icon--profile"><use xlink:href="#icn-face"></use></svg>
					<span class="label">Profile</span>
				</button>
        <button class="btn btn--search toggle-panel" data-panel="search">
               		<span class="label">Search</span>
                    <span class="icon"></span>
					<!-- <svg role="img" class="icon icon--search"><use xlink:href="#icn-search"></use></svg> -->
		</button>
    </div>

</header>