---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "Action Component"
    }
}
---


    <div class="tpl-homepage">
        <div class="wrap-sections">
               {{>actionCapture action}}
        </div>
    </div>


