---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "HomePage"
    }
}
---


<div class="tpl-homepage">
    <section>
        <h1 class="calign">Sunsuper Homepage</h1>

        {{>footer footer}}

    </section>
</div>

