---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "Index"
    }
}
---

<style>
    .calign{
        text-align: center;
    }
    body{
    transition: background .6s;
    background-color: #007bba;
    color: #fff;
    }
    a{
        color: #fff;
        font-variant: small-caps;
        font-size: 15px;
    }
    a:hover{
        color: #fff;
    }
    ul li {
        margin-bottom: 10px;
    }
    h1{
        font-size: 7rem;
        color: #faa61a;
        margin: 2rem 0;
        padding: 0;
        font-weight: 700;
        line-height: 1.05;
    }
    .container{
        padding: 30px;
    }
</style>


<div class="container tpl-homepage">
    <section>

        <h1 class="calign">Sunsuper Index</h1>
        
        <br/><br/>

        <h3>Sprint 1 </h3>
        <nav>
            <ul>
                <li><a href="captureComponent.html" target="_balnk">Capture contact details ( jira-SSR-459 )</a></li>
                <li><a href="actionComponent.html" target="_balnk">Action Component ( jira-SSR-429 ) </a></li>
                <li><a href="AudienceFallback.html" target="_balnk">Audience FallBack ( jira-SSR-464 ) </a></li>
                <li><a href="#" target="_balnk">In Page Navigation ( jira-SSR-268 ) </a></li>
                <li><a href="#" target="_balnk">Text with Feature animation component( jira-SSR-812 ) </a></li>
            </ul>
        </nav>

    </section>
</div>
