---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "Index"
    }
}
---

<style>
    .calign{
        text-align: center;
    }
    body{
    transition: background .6s;
    background-color: #007bba;
    color: #fff;
    }
    a{
        color: #fff;
        font-variant: small-caps;
        font-size: 15px;
    }
    a:hover{
        color: #fff;
    }
    ul li {
        margin-bottom: 10px;
    }
    h1{
        font-size: 7rem;
        color: #faa61a;
        margin: 2rem 0;
        padding: 0;
        font-weight: 700;
        line-height: 1.05;
    }
</style>


<div class="container tpl-homepage">
    <section>

        <h1 class="calign">Sunsuper Index</h1>

        {{>sample-module sampleData}}

        {{>sample-module sampleData2}}
        
        <br/><br/>
        <nav>
            <ul>
                <li><a href="">Header ( jira - 01 ) </a></li>
                <li><a href="">Footer ( jira - 02 ) </a></li>
                <li><a href="">Sidebar ( jira - 03 ) </a></li>
                <li><a href="">Search ( jira - 04 ) </a></li>
                <li><a href="">Login ( jira - 05 ) </a></li>
                <li><a href="">Menu ( jira - 06 ) </a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li><a href="/home.html">Home Page ( jira - 01 ) </a></li>
                
            </ul>
        </nav>

    </section>
</div>
