---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "Audience FallBack"
    }
}
---

<body class="home mixed">
    <div class="tpl-homepage">
        <div class="wrap-sections">
               {{>inPageNavigation inPageNavigationData}}
        </div>
    </div>
</body>

