---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "HomePage"
    }
}
---

<body class="home mixed">
	<div class="tpl-homepage">
		<div class="wrap-sections">

		       {{>textImageTeaser textImageTeaserDataBlue}}

		       {{>textImageTeaser textImageTeaserDataOrange}}

		       {{>textImageTeaser textImageTeaserDataPurple}}
		       
		</div>
	</div>
</body>

