---
{
    "title"    : "SunSuper",
    "site"     : {
        "title" : "text Image Carousel"
    }
}
---

<body class="home mixed">
    <div class="tpl-homepage">
        <div class="wrap-sections">
               {{>text-image-carousel text-image-carousel-data}}
        </div>
    </div>
</body>

