<section id="nonmember" class="section section--nonmember section--background-purple section--invert" data-background="purple" rel="nonmember">
    <div class="inner">
        <div class="content">
            <h2 data-short-title="Considering Joining">Considering Joining</h2>
            <div class="txt">
                <p>When you <b>join Sunsuper</b>, you get access to one of <b>Australia's largest and most awarded super funds</b>.</p>
            </div>
            <div class="txt txt--small">
                <p>As a profit-for-members fund, we're run to benefit our members. That means no commission, no shareholders and no over the top fees to pay.</p>
            </div>
            <ul class="links">
                <li><a href="t5--profit-for-members.html">Profit for members</a></li>
                <li><a href="#">Compare Sunsuper</a></li>
                <li><a href="#">Low fees</a></li>
            </ul>
        </div>
    </div>
    <div class="graphic graphic--circle-element">
        <div class="graphic__inner">
            <div class="graphic__element">
                <div class="image" style="background-image:url(img/backgrounds/section-nonmember-melissa.jpg);">
                    <span class="caption"><b>Melissa</b><br>New Farm, Brisbane</span>
                </div>
            </div>
        </div>
    </div>
</section>